.container-nav{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0 10px;
}
.btn{
    display: flex;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 13px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.wsp{
    background-color: #25D366;
    color: #fff;
    gap: 6px;
}


.default{
    background-color: var(--azulElectrico);
    color: var(--white-color);
    transition: 0.5s;
}

.cart{
    background-color: var(--white-color);
    color: var(--navy);
    gap: 8px;
    
}

.default:hover{
    background-color: var(--azulElectricoApagado);
}

.cart span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    font-size: 11px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
}